@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --reserved-space-bottom: 1.5rem
}

body {
  min-height: calc(100vh - var(--reserved-space-bottom));
  margin-bottom: var(--reserved-space-bottom);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
