@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bottom-padding: 6px;
  @apply bg-zinc-900;
  @apply text-zinc-50;
}

body {
  /* overflow: hidden; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
